*.out
*~
.idea/workspace.xml
*.pyc
*.pdf
.ropeproject
cooling_glover.f90 
*.mod
*.o
fort.*
*.cs
*.eps
fortran/Read/frequencies_lique
fortran/cooling_nc=1.0E+*
fortran/Read/wrathmall/flower_data.ods

doc/level_populations.ipynb
doc/level_populations_rate_equations_derivation.ipynb
fortran/Read/lev_labels_lique
fortran/Read/wrathmall/Rates_H_H2_flower_new_downwards.dat
fortran/carla_matrix_M
fortran/solver_matrix
fortran/solver_matrix.txt

fortran/M_matrix_1e6100_mher.txt
fortran/relative_diff_M_matrices.txt


fortran/population_test_good\.txt

fortran/population_test\.txt

data/read/frequencies_lique

src/fortran/cooling_nc=1\.0E\+06

src/fortran/cooling_nc=1\.0E\+07

src/fortran/cooling_nc=1\.0E\+08

src/fortran/cooling_nc=1\.0E\+09

src/fortran/cooling_nc=1\.0E\+10

src/fortran/cooling_nc=1\.0E\+11

src/fortran/cooling_nc=1\.0E\+12

src/fortran/cooling_nc=1\.0E\+14

src/fortran/cooling_nc=1\.0E\+13

.ipynb_checkpoints

src/fortran/carla_matrix_M

src/fortran/cooling_function_lipovka\.dat

.cache

.coverage

htmlcov
